<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Cursos</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Curso</button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>

  <div class="search-box">
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          id="myInput"
          class="form-control"
          [formControl]="queryField"
          placeholder="Pesquisar libs"
        />
      </div>
      <div class="col-auto">
        <button class="but btn-success" (click)="onSearchCpf()">Cpf</button>
      </div>
    </div>
  </div>



  <div class="card-body">
    <table class="table table-hover" *ngIf="(pessoa$ | async) as pessoa; else loading">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>email</th>
          <th>Telefone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoa">
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.cpf }}</td>
          <td>{{ pessoa.email }}</td>
          <td>{{ pessoa.telefone }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(pessoa.id)">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(pessoa)">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Cursos...</span>
    </ng-template>
  </div>
</div>


<table class="table" id="myTable">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Versão</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of results$ | async">
      <td>{{ result.nome }}</td>
    </tr>
  </tbody>
</table>


<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse pessoa?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
  </div>
</ng-template>

