<a class="nav-item nav-link" routerLink="/create-pessoa">Novo
    <span class="material-icons">add_comment</span></a>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body table-responsive">
                <div *ngIf='showSpinner' class="spinner-grow text-danger" role="status">
                    <span class="sr-only"></span>
                </div>
                <div *ngIf='showSpinner' class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div *ngIf='showSpinner' class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div *ngIf='showSpinner' class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div *ngIf='showSpinner' class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div *ngIf='showSpinner' class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div *ngIf='showSpinner' class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div *ngIf='showSpinner' class="spinner-grow text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div *ngIf='showSpinner' class="spinner-grow text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <form class="navbar-form">
                    <h1><span class="alert">{{texto}}</span></h1>
                    <div class="input-group no-border">
                        <input (keyup)="mudaTermo()"
                               placeholder="Digite termo da pesquisa ..."
                               (keyup.enter)="onSearch()"
                               type="text"
                               id="pesquisar"
                               name="pesquisar"
                               class="form-control"
                               [formControl]="queryField">

                    </div>

                    <button (click)="onSearch()"
                    class="btn">
                    <i class="material-icons">search</i>NOME 
                    <div class="ripple-container"></div>
                   </button>

                    <button (click)="onSearchCep()"
                    class="btn">
                    <i class="material-icons">search</i>CEP 
                    <div class="ripple-container"></div>
                   </button>

                   <button (click)="onSearchCpf()"
                   class="btn">
                   <i class="material-icons">search</i>CPF 
                   <div class="ripple-container"></div>
                  </button>


                </form>
                <form class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">CEP</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let pessoa of results$ | async">
                            <td>{{ pessoa.nome }}</td>
                            <td>{{ pessoa.cpf }}</td>
                            <td>{{ pessoa.cep }}</td>
                            <td>{{ pessoa.status }}</td>
                            <td class="td-actions text-right">
                                <button [routerLink]="['/edit-pessoa', pessoa.id]"
                                        class="btn btn-primar      path: 'pessoa',
                                        y btn-link btn-sm btn-just-icon" mat-raised-button
                                        matTooltip="Editar Corretora" routerLinkActive="active"
                                        type="button">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button routerLink="/create-pessoa"
                                        routerLinkActive="active"
                                        mat-raised-button type="button"
                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<!--GRID PERMANENTE
<form class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-hover" class="table table-bordered table-striped mb-0">
    <thead class="text-warning">
    <tr>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pessoa of responsePessoa">
                             <td>{{ pessoa.nome }}</td>
                            <td>{{ pessoa.cpf }}</td>
                            <td>{{ pessoa.cep }}</td>
                            <td>{{ pessoa.status }}</td>
        
            <button [routerLink]="['/edit-pessoa', pessoa.id]"
                    class="btn btn-primary btn-link btn-sm btn-just-icon" mat-raised-button
                    matTooltip="Editar Corretora" routerLinkActive="active"
                    type="button">
                <i class="material-icons">edit</i>
            </button>
       
    </tr>
  </tbody>
</table>
</form>

-->