<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Digite aqui o termo para pesquisa.."
        [(ngModel)]="nome"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchNome()"
        >
          Pesquisar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de Pessoas</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let pessoa of pessoas; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivePessoa(pessoa, i)"
      >
        {{ pessoa.nome }}

      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="currentPessoa">
      <h4>Pessoa</h4>
      <div>
        <label><strong>Nome:</strong>
        </label> {{ currentPessoa.nome }}
      </div>
      <div>
        <label><strong>CPF:</strong></label>
        {{ currentPessoa.cpf }}
      </div>
      <div>
        <label><strong>Data Nascimento:</strong></label>
        {{ currentPessoa.datanascimento }}
      </div>
      <div>
        <label><strong>Estado:</strong></label>
        {{ currentPessoa.estado }}
      </div>
      <div>
        <label><strong>Cidade:</strong></label>
        {{ currentPessoa.cidade }}
      </div>
      <div>
        <label><strong>CEP:</strong></label>
        {{ currentPessoa.cep }}
      </div>
      <div>
        <label><strong>Telefone:</strong></label>
        {{ currentPessoa.telefone }}
      </div>
      <div>
        <label><strong>Email:</strong></label>
        {{ currentPessoa.email }}
      </div>
      <div>
        <label><strong>Skype:</strong></label>
        {{ currentPessoa.skype }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentPessoa.status }}
      </div>

      <a class="badge badge-warning" routerLink="/pessoas/{{ currentPessoa.id }}">
        Editar
      </a>
    </div>

    <div *ngIf="!currentPessoa">
      <br />
      <p>...</p>
    </div>
  </div>
</div>
